@import url("/css/reset.css");

/* style rules for navigation */
.logo {
  display: flex;
  align-items: center;
  width: 175px;
  height: auto;
}

#navbar {
  height: auto;
  position: sticky;
  top: 0;
  z-index: 10;
  background: #effaff;
  box-shadow: none;
  transition: box-shadow 0.5s;
}

#navbar .navbar-inner {
  display: flex;
  justify-content: space-between;
}

#navbar .navbar-inner .hamburger {
  display: none;
}

#navbar .navbar-inner .links {
  display: flex;
}

#navbar .navbar-inner .links li {
  padding: 1.5rem 1.5rem;
}

#navbar .navbar-inner .links li:last-child {
  padding: 0.75rem 1.5rem;
}

#navbar .navbar-inner .links li a {
  font-weight: 800;
  text-decoration: none;
  color: #1f333b;
  text-transform: uppercase;
}

/* style rules for banner section */
#hero {
  position: relative;
  background: #24527e;
  color: #effaff;
  height: 80vh;
  z-index: 1;
}

#hero::before {
  transform-origin: right bottom;
  box-shadow: 0 8px 6px -2px rgba(0, 0, 0, 0.25);
}

#hero .hero-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: inherit;
  align-items: center;
}

/* style rules for about section */
#about {
  z-index: -1;
  background: #f3eff5;
  color: #1f333b;
  height: auto;
}
#about .about-inner .about-grid {
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 1fr;
}
#about .about-inner .about-grid .about-left {
  padding-right: 2rem;
}
